<h3>Current Reports</h3>

<img src="/img/woman.png">

<form class="sound-filter" method="GET" action="/">
    <input type="text" name="what" value="" placeholder="What">
    <input type="text" name="where" value="" placeholder="Where">
    <input type="date" name="date" value="" placeholder="Date (YYYY-MM-DD)">
    <input type="number" name="hour" value="" placeholder="Hour (0-23)" min="0" max="23">
    <input type="submit" value="Filter">
</form>

<table>
    <tr>
        <th>What</th>
        <th>Where</th> 
        <th>Date</th>
        <th>Hour</th>
        <th>Description</th>
    </tr>
    {{#each sounds}}
        <tr>
            <td>{{this.what}}</td>
            <td>{{this.where}}</td>
            <td>{{this.date}}</td>
            <td>{{this.hour}}</td>
            <td>{{this.desc}}</td>
        </tr>
    {{/each}}
</table>

<h3 style="color:#3f51b5;">
    {{zeromessage}}
</h3>