<h3>Your Contributions</h3>

<img src="/img/courage.png">

<table>
    <tr>
        <th>What</th>
        <th>Where</th> 
        <th>Date</th>
        <th>Hour</th>
        <th>Description</th>
    </tr>
    {{#each sounds}}
        <tr>
            <td>{{this.what}}</td>
            <td>{{this.where}}</td>
            <td>{{this.date}}</td>
            <td>{{this.hour}}</td>
            <td>{{this.desc}}</td>
        </tr>
    {{/each}}
</table>

<h3 style="color:#3f51b5;">
    {{zeromessage}}
</h3>